<h1></h1>
<hr>
<hr>
<h8>To go back to the landing page click <button (click)="backUrl()">here</button></h8>
<hr>
<h5 style="text-align: center;">Search for either a github username or a github repository:</h5>
<hr>
<hr>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <form #userForm = 'ngForm'>
                    <div class="form-group">
                        <label for="username" style="text-align: center;">Github username</label>
                        <input type="text" required class="form-control" id="username" name="username" [(ngModel)] = "userName.value" >
                        {{userName.value}}
                        <!--<div [hidden]="name.valid || name.pristine" class="alert alert-danger" >
                          <p>Name is required</p>
                  
                        </div>-->
                    </div>
                    <button class="btn btn-secondary" type="submit" (click) = 'userInfo(userName.value); showButton()'>Submit</button>
                </form>
            </div>
            
            
            
            <div class="col-md-2" style="text-align: center;">
                
                <p>OR</p>
            </div>
            <div class="col-md-5">
                <form #repoForm = 'ngForm'>
                    <div class="form-group">
                        <label for="repo" style="text-align: center;">Github repository</label>
                        <input type="text" required class="form-control" id="reponame" name="reponame" [(ngModel)] = "repoName.value">
                        {{repoName.value}}
                        <!--<div [hidden]="name.valid || name.pristine" class="alert alert-danger" >
                          <p>Name is required</p>
                  
                        </div>-->
                    </div>
                    
                    <button class="btn btn-secondary" type="submit" (click) = 'repoInfo(repoName.value)'>Submit</button>
                </form>
            </div>
            
        </div>
        <hr>
        <div class="row">
            <div *ngFor= 'let rep of repo' class="col-md-6">
                <div class="card">
                    <p class="card-header"appCaseBold style="text-align: center;">name: {{rep.repoName}}</p>
                    <div class="card-body"> 
                       
                        <p>description: {{rep.repoDescription}}</p>
                
                        <p>date made: {{rep.repoMade|date}}</p>
                        <p>days since repo was made: {{rep.repoMade|countDays}}</p>
                        <p>url: {{rep.repoUrl}}</p>
                        <a href="{{rep.repoUrl}}">link to repo in github</a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6"> 
                <div class="card"> 
                    <div class="card-body" style="text-align: center;">
                        <img class="card-img-body" src="{{user['profilePic']}}" style="height: 10%; width: 10%"alt="">
                        
                        <p class="card-footer">Username: {{user['userName']}}</p>
                        <div *ngIf='buttonShow'> 
                            <button (click)="getUserRepo(userName.value)">click to show {{user.userName}}'s repositories.</button>
                            <p>Their repositories are:</p>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="row" *ngIf='edited'>
            <div *ngFor='let userRepo of userRepositories' id="userRepos" class="col-md-6">
                <div class="card"> 
                    <p class="card-header"appCaseBold style="text-align: center;">{{userRepo.repoName}}</p>
                    <div class="card-body" style="text-align: center;">
                        <p>{{userRepo.repoDescription}}</p>
                        
                        <a href="{{userRepo.repoURL}}">link to repo in github</a>
                    </div>
                </div>
                
                <p></p>
                
                
            </div>
        </div>     
               
        
    </div>
</div>

