@import "~bootstrap/dist/css/bootstrap.css";
.container-fluid {
    background-color: black;
    color: maroon;
}
.card {
    color: black;
}
.card-header {
    background-color: darkorange;
    color: maroon;
    font-weight: bold;
}
.card-body {
    background-color: peachpuff;
}